* {
	margin: 0;
	padding: 0;
	border: 0;
}


article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Open-Sans', sans-serif;
}

.logo {
	padding: 2% 1%;
	max-width: 50px;
}

.internal_logo {
	width: 15%;
	max-width: 70px;
	padding: 1%;
}


.sidenav {
	display: none;
}

aside.blog_menu {
	display: none;
}

/* ********** START HAMBURGER MENU STYLES ********** */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#000000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#5C6672;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-family: 'Open Sans'; font-weight:bold; font-size:0.8em; width:100%; background:#d9dbe9;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block; background:#0380b0; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid; color: #ffffff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none; }
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#ffffff;}
/* ********** END HAMBURGER MENU STYLES ********** */

.woods {
	width: 100%;
}

.woods_desktop {
	display: none;
}

h1 {
	display: none;
}

article.Barbara-mobile {
    background-color: #5ea5c6;
		color:#d9dbe9;
		margin-top: 6%;
}

h2.Barbara {
	font-family: 'Rochester', cursive;
	font-size:2.5rem;
}

h2.master {
    font-family: 'Open Sans', sans-serif;
		font-size: 1.5rem;
}

h2.Barbara,.master {
	padding: 4% 2%;
}

article.biofeedback {
	background-color: #bfd6a5;
	font-family: 'Open Sans';
	text-align: center;
	padding: 4% 2%;
	margin-top: 4%;
}

.image-grid {
	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;
}

h3.main {
	color: #0380b0;
	padding-bottom: 3%;
	text-decoration: underline;
	font-size: 2rem;
}

p.bio_def {
	font-size: 1.3rem;
	color: #5C6672;
}

p.biofeedback_caption {
	font-family: 'Open Sans';
	text-align: center;
	font-size: .8rem;
	padding-bottom: 4%;
	color: #000000;
}

figure img {
	max-width: 90%;
	margin: 3%;
}

.barb_img {
	max-width: 70px;
	margin-left: 35%;
}

section.pics img {
	max-width: 95%;
	padding: 1%;
	margin-left: 2%;
}

.pics {
	max-width: 98%;
	padding: 4%;
}

.bio1 {
	width: 100%;
	padding: 2% 0 0 0;
}

p {
	color: #5C6672;
	font-family: 'Open Sans';
	padding: 1.8%;
}

h3.caption {
	margin-left: 13%;
	color: #5C6672;
	font-family: 'Open Sans';
	font-size: .9rem;
	padding-bottom: 6%;
	
}


p.p_life {
	background-color: #5C6672;
	color: #ffffff;
	font-family: 'Open Sans';
	padding: 1.8%;
}

h2.about_bio {
	font-family: Rochester;
	color: #0380b0;
	font-size: 2rem;
	text-align: center;
	text-decoration: underline;
	padding: 2% 0;
}

.life_logo {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 30%;
	padding: 2% 0 0 0;
}

aside.bio_aside {
	background-color: #5C6672;
}

.container {
	background: #0380B0;
	color: #D9DBE9;
  width: 96%;
  margin: auto;
	margin-top: 10%;
}

form ul li {
	margin: auto;
	padding: 3%;
}

form {
	margin-bottom: 7%;
}



/* start flexing */


 * {
  box-sizing: border-box;
}


.flex-outer {
  max-width: 100%;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
	background-color: #0380B0;
}


.flex-outer li label,
.flex-outer li p {
  padding: 3%;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 260px;
  max-width: 260px;
}

.flex-outer > li > label + * {
  flex: 1 0 260px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 3%;
  border: none;
}


ul .flex-outer {
	flex: 1 0 260px;
}

/*end flexing*/

h2.blog_posts {
	font-family: 'Rochester', cursive;
	text-align: center;
	color: #0380B0;
	font-size: 2rem;
	text-decoration:underline;
}

h3.blog_h3 {
	font-family: 'Open Sans', sans-serif;
	color: #669840;
	font-size: 1rem;
	margin: 3%;
	margin-top: 5%;
	text-decoration: none;
}

p.blog {
	font-size: .92rem;
}

.col-sm-4 {
  margin-left: 5% !important;
  margin-top: 2% !important;
}

.read-more, .read-less {
  font-family: 'Open Sans', sans-serif;
	color: #0380B0;
	cursor: pointer;
	font-size: .9rem;
	text-decoration: underline;
}


/* FOR CONTACT STICKY FOOTER */
.body_contact {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.body_blog {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.body_aboutme {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}


/* END CONTACT STICKY FOOTER */

footer {
	margin-top: 4%;
	padding: 2% 0;
	text-align: center;
	background-color: #5C6672;
}

footer.internal_footer {
	margin-top: 0;
	background-color: #669840;
}

footer.internal_footer2 {
	margin-top: 0;
	background-color: #669840;
}

footer img {
	max-width: 40px;
	padding: 0 1%;
}

.flex-outer li button {
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 4% 3%;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: 1.3rem;
}

/********** START 358PX MIN MEDIA QUERY **********/
@media (min-width:358px) {

	article.blog1 {
		margin-left: 9%;
	}


}

/********** END 358PX MIN MEDIA QUERY **********/



/********** START 400PX MIN MEDIA QUERY **********/
@media (min-width:400px) {
	.logo {
		max-width: 60px;
	}

	.menu {
		font-size: 1rem;
	}

	.hamburger, .cross {
		padding: 4%;
	}

	h2.Barbara {
		font-size: 3rem;
	}

	h2.master {
		font-size: 1.8rem;
	}

	h3.main {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	p.p_life {
		font-size: 1rem;
		color: #ffffff;
	}

	h2.about_bio {
		font-size: 2.3rem;

	}

	h3.life {
		font-size: 1.8rem;
	}

	footer img {
		max-width: 50px;
	}

	p.blogs {
		text-align: center;
	}

	article.blog1 {
		margin-left: 10%;
		margin-bottom: 5%;
	}

	form {
		margin-bottom: 5%;
	}


}
/********** END 400PX MIN MEDIA QUERY **********/

/********** START 530PX MIN MEDIA QUERY **********/
@media (min-width:530px) {
	.logo {
		max-width: 65px;
	}

	.menu {
		font-size: 1.3rem;
	}

	h2.Barbara {
		font-size: 3.5rem;
	}

	h2.master {
		font-size: 2rem;
	}

	h3.main {
		font-size: 2.3rem;
	}

	p {
		font-size: 1.2rem;
	}

	p.p_life {
		font-size: 1.2rem;
	}

	form ul li {
		font-size: 1.2rem;
	}

	form {
		margin-bottom: 5%;
	}

	article.blog1 {
		margin-left: 4%;
	}


}
/********** END 530PX MIN MEDIA QUERY **********/

/********** START 700PX MIN MEDIA QUERY **********/
@media (min-width:700px) {
	.logo, .internal_logo {
		max-width: 100px;
	}

	.life_logo {
		width: 40%;
	}
	h3.main {
		font-size: 2.6rem;
	}

	p {
		font-size: 1.5rem;
	}

	p.p_life {
		font-size: 1.5rem;
	}

	main.site-content {
		width: 100%;
		margin: auto;
	}


	form {
		margin: auto;
		margin-bottom: 3%;
	}


	label {
		margin: auto;
	}

	form ul li {
		margin: auto;
	}

	.site-content {
		flex: 0;
	}

	.flex-outer li button {
		margin: auto;
		margin-top: 6%;
	}


}
/********** END 700PX MIN MEDIA QUERY **********/

/********** START 1060PX MIN MEDIA QUERY **********/
@media (min-width: 1060px) {
	.hamburger, .cross {
		padding: 2%;
	}

	.logo {
		display: none;
	}

	.logo_bio {
		display: block;
		max-width: 80px;
	}

	.gray-logo {
		max-width: 150px;
		width: 80%;
		padding-top: 35%;
	}

	.life_logo {
		width: 50%;
		padding-bottom: 2%;
	}

	header {
		padding: 2% 0;
	}


	h1 {
		display: inline;
		margin-left: 28%;
	}

	.Rochester {
		font-family: 'Rochester';
		color: #669840;
		font-size: 2.3rem;
	}

	section.pics img {
		max-width: 800px;
		margin-left: 18%;
	}

	.pics {
		max-width: 80%;
	}

	.line {
		font-family: 'Rochester';
		color: #5C6672;
	}

	.OpenSans {
		font-family: 'Open Sans';
		color: #0380b0;
		font-size: 1.8rem;
	}

	.sidenav {
		display: block;
		height: 100%;
		width: 210px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #0380b0;
		overflow-x: hidden;
		font-size: 1.8rem;
		font-family: 'Open Sans';
		padding-top: 2.5%;
		opacity: .8;
		text-align: center;
	}

	.sidenav a {
		padding: 8% 2% 4% 2%;
		text-decoration: none;
		display: block;
		color:#d9dbe9;
		}

	.sidenav a:hover {
	  color: #5ea5c6;
		background-color:#d9dbe9;
	}

	.woods {
		display: none;
	}

	.woods_desktop {
		display: block;
		width: 100%;
	}

	h2.about_bio {
		font-size:2.8rem;
	}

	article.Barbara-mobile {
		display: none;
	}


	p.bio_def {
		font-size: 1.3rem;
		color: #000000;
	}

	article.biofeedback {
		float: right;
		width: 30%;
		max-width: 300px;
		max-height: 280px;
		background-color: #83af4c;
		opacity: .7;
		position: absolute;
		margin-left: 72%;
		margin-top: -26%;
		padding: 2% 1%;
		margin-bottom: 2%;
	}


	h3.main {
		font-size: 1.9rem;
	}

	p.bio_def {
		font-size: 1.1rem;
	}

	footer {
		margin-top: 0;
	}

	main.main-content {
		width: 100%;
	}


	main.bio_main {
		float: left;
		max-width: 63%;
		padding-right: 3%;
		position: absolute;
	}

	figure {
		padding: 0 4%;
	}

	aside.bio_aside {
		float: right;
		width: 33%;
		padding: 3% 1% 11% 1%;
	}


	p {
		font-size: 1.3rem;
	}

	p.p_life {
		font-size: 1rem;
		padding: 7% 3% 0% 3%;
	}


	footer.internal_footer {
		clear: both;
	}

	.container {
		width: 97%;
		margin: auto;
	}


	h2.blog_posts {
		font-size: 3rem;
	}

	h3.blog_h3 {
		font-size: 1.5rem;
		margin: 2%;
	}

	p.blog {
		font-size: 1.1rem;
	}

	article.blog1 {
		margin-top: 3%;
	}

	main.site-content {
		display: flex;
		justify-content: space-around;
	}

	aside.blog_menu {
		display: block;
		position: absolute;
		margin-top: 12%;
		height: 95%;
		width: 210px;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #0380b0;
		overflow-x: hidden;
		font-size: 1.8rem;
		font-family: 'Open Sans';
		padding-top: 2.5%;
		opacity: .8;
		text-align: center;
	}

	h2.blog_archive {
		color: #d9dbe9;
		font-size: 2rem;
		margin-bottom: 10%;
		margin-top: 60%;
	}

	.blog_menu a {
		font-size: 1.2rem;
		text-decoration: none;
		display: block;
		padding: 7%;
		color: #d9dbe9;
	}

	.blog_menu a:hover {
		background-color: #d9dbe9;
		color: #0380b0;
	}


	.read-more,.read-less {
		font-size: 1rem;
	}

	button {
		min-width: 200px;
	}

	

}
/********** END 1060PX MIN MEDIA QUERY **********/

/********** START BETWEEN 1080PX MIN MEDIA QUERY **********/
@media (min-width: 1080px) and (max-width:1776px) {

	main.bio_main {
		width: 68%;
		margin-bottom: 3%;
	}
	aside.bio_aside {
		width: 30%;
		padding-bottom: 6%;
	}

	.bio1 {
		max-width: 700px;
	}

	p {
		font-size: 1.1rem;
	}

	p.p_life {
		font-size: 1rem;
	}
}

/********** END BETWEEN 1080PX MIN MEDIA QUERY **********/
